doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WebRTC
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Web RTC
        main
            h2 Welcome to web rtc site
            
        script(src="/socket.io/ socket.io.js")
        script(src="/public/js/app.js")