doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 404 Not Found
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 404 Not Found 
        main  
            h2 Sorry, this url is not correct